@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #2a2a30 transparent;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #2a2a30;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

body {
  @apply bg-bg text-zinc-100 font-sans antialiased;
  background: #0f0f12;
}

html, body, #root {
  height: 100%;
}
